<style at="Head">
    .calendly-embed-container {
        height: 900px;
    }
    @@media (min-width: 768px) {
        .calendly-embed-container {
            height: 1000px;
        }
    }
    @@media (min-width: 1200px){
        .calendly-embed-container {
            height: 700px;
        }
    }
</style>
<div class="container px-0 px-lg-4 p-4">
    <div id="calendlyEmbedContainer" class="calendly-embed-container">
        @await DisplayAsync((IHtmlContent)Model.Metadata.ChildContent)
    </div>
</div>