@model CalendlyPartViewModel
<div class="mb-3">
    <label asp-for="Link" class="form-label">@T["Your Calendly Link"]</label>
    <div class="input-group">
        <span class="input-group-text">https://calendly.com/</span>
        <input asp-for="Link" type="text" class="form-control" />
    </div>
</div>
